# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=eventos_db
DB_USER=postgres
DB_PASS=postgres

# Configurações do MongoDB
MONGO_URL=mongodb://localhost:27017/
MONGO_DB=eventos_nosql

# Configurações do JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui
JWT_EXPIRES_IN=24h

# Configurações do Servidor
PORT=3001
NODE_ENV=development 